body {
    /* padding: 20px; */
    background-color: rgb(82, 82, 82);
}

#player {
    width: 20px;
    left:20px;
    top:20px;
    height: 20px;
    background-color: rgb(255, 51, 0);
    position: fixed;
    border-radius: 100%;
    /* transition: all .2s linear; */
}

#player .after {
    width: 20px;
    height: 20px;
    background-color: aqua;
    position: absolute;
    border-radius: 100%;
}

#player .after:first-child {
    top:0;
    left: -20px;
}

#target {
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    position: fixed;
    border-radius: 100%;
    /* transition: all .2s linear; */
}